#A7E{
  top: 41px;
  left: 2449px;
}

#D5E{
  top: 1216px;
  left: 1597px;
}

#G5S{
  top: 2380px;
  left: 1593px;
}

#G1E{
  top: 2308px;
  left: 278px;
}

#B8N{
  top: 404px;
  left: 2690px;
}

#B4se{
  top: 550px;
  left: 1360px;
}

#G4sw{
  top: 2481px;
  left: 1037px;
}

#D8nw{
  top: 1134px;
  left: 2597px;
}

#G7E{
  top: 2282px;
  left: 2456px;
}

#F2E{
  top: 1934px;
  left: 616px;
}

#E1N{
  top: 1500px;
  left: 150px;
}

#C7nw{
  top: 684px;
  left: 2096px;
}

#A4se{
  top: 197px;
  left: 1298px;
}

#A6ne{
  top: 27px;
  left: 2014px;
}

#C1W{
  top: 919px;
  left: 58px;
}

#G1N{
  top: 2178px;
  left: 121px;
}

#C8W{
  top: 782px;
  left: 2545px;
}

#E6nw{
  top: 1511px;
  left: 1862px;
}

/* #draggable19{
  grid-column: 20;
  grid-row: 5;
} */

#D7W{
  top: 1199px;
  left: 2302px;
}

#E2sw{
  top: 1784px;
  left: 435px;
}

#A4N{
  top: 34px;
  left: 1286px;
}

#H6ne{
  top: 2600px;
  left: 2134px;
}

#H3ne{
  top: 2556px;
  left: 1003px;
}

#C7E{
  top: 889px;
  left: 2437px;
}

#E5S{
  top: 1748px;
  left: 1676px;
}

#D1ne{
  top: 1195px;
  left: 209px;
}

#F7N{
  top: 1889px;
  left: 2370px;
}

#E4W{
  top: 1591px;
  left: 1165px;
}

#H1ne{
  top: 2617px;
  left: 267px;
}

#H5nw{
  top: 2597px;
  left: 1563px;
}

#D4nw{
  top: 1157px;
  left: 1173px;
}

#D7ne{
  top: 1165px;
  left: 2526px;
}

#G4E{
  top: 2369px;
  left: 1277px;
}

#A4W{
  top: 177px;
  left: 1191px;
}

#A3S{
  top: 286px;
  left: 914px;
}

#G2N{
  top: 2267px;
  left: 537px;
}

/* #draggable38{
  grid-column: 18;
  grid-row: 15;
}

#draggable39{
  grid-column: 15;
  grid-row: 19;
} */

#D6S{
  top: 1315px;
  left: 2018px;
}

#F6E{
  top: 1993px;
  left: 2101px;
}

#D3sw{
  top: 1308px;
  left: 795px;
}

/* #A3E{
  top: 192px;
  left: 960px;
} */

#D2sw{
  top: 1404px;
  left: 326px;
}

#F2ne{
  top: 1873px;
  left: 597px;
}

#C5W{
  top: 853px;
  left: 1527px;
}

#B6sw{
  top: 682px;
  left: 1888px;
}

#H8W{
  top: 2772px;
  left: 2612px;
}

#H1W{
  top: 2746px;
  left: 36px;
}

#F7sw{
  top: 2134px;
  left: 2266px;
}

/* #D5sw{
  top: 1464px;
  left: 1521px;
} */

#D3nw{
  top: 1174px;
  left: 816px;
}

#A5W{
  top: 155px;
  left: 1536px;
}

/* #C2E{
  top: 882px;
  left: 593px;
} */

#H4E{
  top: 2741px;
  left: 1394px;
}

#F1nw{
  top: 1908px;
  left: 104px;
}

#C6N{
  top: 784px;
  left: 2045px;
}

#G6se{
  top: 2494px;
  left: 2203px;
}

#D6W{
  top: 1258px;
  left: 1968px;
}

#D1nw{
  top: 1202px;
  left: 38px;
}

#E5W{
  top: 1633px;
  left: 1515px;
}

/* #draggable62{
  top: 1658px;
  left: 1628px;
}

#draggable63{
  top: 1658px;
  left: 1628px;
}

#draggable64{
  top: 1658px;
  left: 1628px;
} */

#B1W{
  top: 514px;
  left: 27px;
}

#F7se{
  top: 2150px;
  left: 2485px;
}

#A8W{
  top: 160px;
  left: 2682px;
}

#H8nw{
  top: 2623px;
  left: 2625px;
}

#G5nw{
  top: 2329px;
  left: 1579px;
}

#G1se{
  top: 2509px;
  left: 305px;
}

#H1E{
  top: 2787px;
  left: 269px;
}

#H6E{
  top: 2731px;
  left: 2099px;
}

/* #draggable73{
  top: 1900px;
  left: 1473px;
}

#draggable74{
  top: 432px;
  left: 1796px;
}

#draggable75{
  top: 2605px;
  left: 717px;
}

#draggable76{
  top: 648px;
  left: 615px;
}

#draggable77{
  top: 1734px;
  left: 871px;
}

#draggable78{
  top: 2415px;
  left: 2719px;
} */

#C3N{
  top: 831px;
  left: 880px;
}

#G3nw{
  top: 2282px;
  left: 782px;
}

#B1E{
  top: 478px;
  left: 209px;
}

#F1E{
  top: 2015px;
  left: 309px;
}

#F6N{
  top: 1905px;
  left: 2000px;
}

#F3sw{
  top: 2057px;
  left: 788px;
}

#D7se{
  top: 1363px;
  left: 2437px;
}

#A1S{
  top: 228px;
  left: 180px;
}

#B7sw{
  top: 595px;
  left: 2267px;
}

#B2W{
  top: 531px;
  left: 466px;
}

#H2W{
  top: 2747px;
  left: 446px;
}

#A5se{
  top: 261px;
  left: 1681px;
}

#E2N{
  top: 1580px;
  left: 524px;
}

#G4nw{
  top: 2225px;
  left: 1199px;
}

#C6S{
  top: 1007px;
  left: 1974px;
}

#H5ne{
  top: 2646px;
  left: 1682px;
}

#G3N{
  top: 2324px;
  left: 861px;
}

#D2W{
  top: 1205px;
  left: 412px;
}

#F5W{
  top: 2002px;
  left: 1533px;
}

#B5nw{
  top: 494px;
  left: 1589px;
}

#E1sw{
  top: 1676px;
  left: 107px;
}

#C2sw{
  top: 989px;
  left: 441px;
}

#C1nw{
  top: 773px;
  left: 38px;
}

#H7sw{
  top: 2627px;
  left: 2254px;
}

#C4sw{
  top: 1045px;
  left: 1119px;
}

#E3E{
  top: 1582px;
  left: 834px;
}

#F8W{
  top: 1918px;
  left: 2528px;
}

#C4ne{
  top: 797px;
  left: 1249px;
}

#A7nw{
  top: 47px;
  left: 2273px;
}

#B7W{
  top: 501px;
  left: 2301px;
}

/* #B3N{
  top: 419px;
  left: 891px;
} */

#H7E{
  top: 2711px;
  left: 2362px;
}

#H3E{
  top: 2724px;
  left: 1014px;
}

#E7N{
  top: 1580px;
  left: 2345px;
}

#C4W{
  top: 865px;
  left: 1233px;
}

#A1nw{
  top: 92px;
  left: 59px;
}

#E8W{
  top: 1616px;
  left: 2675px;
}

#C2se{
  top: 979px;
  left: 644px;
}

#E4se{
  top: 1702px;
  left: 1299px;
}

#B3ne{
  top: 433px;
  left: 1035px;
}

#D4W{
  top: 1296px;
  left: 1232px;
}

#G7se{
  top: 2510px;
  left: 2446px;
}

#B1sw{
  top: 581px;
  left: 66px;
}

#H2E{
  top: 2686px;
  left: 584px;
}

#E6se{
  top: 1722px;
  left: 2081px;
}

#F4W{
  top: 2005px;
  left: 1194px;
}

#A2sw{
  top: 233px;
  left: 437px;
}

#C6E{
  top: 861px;
  left: 2066px;
}

#G2S{
  top: 2424px;
  left: 541px;
}

#B6N{
  top: 444px;
  left: 1988px;
}

#H8N{
  top: 2663px;
  left: 2767px;
}

#B7N{
  top: 391px;
  left: 2383px;
}

#D2E{
  top: 1278px;
  left: 585px;
}

#A3sw{
  top: 294px;
  left: 788px;
}

#G3sw{
  top: 2497px;
  left: 835px;
}

#A6sw{
  top: 294px;
  left: 1944px;
}

#C1ne{
  top: 808px;
  left: 229px;
}

#F5se{
  top: 2121px;
  left: 1740px;
}

#D4ne{
  top: 1155px;
  left: 1407px;
}

#F1ne{
  top: 1892px;
  left: 295px;
}

#D8sw{
  top: 1361px;
  left: 2657px;
}

#B4sw{
  top: 623px;
  left: 1185px;
}

#E7nw{
  top: 1480px;
  left: 2278px;
}

#F2S{
  top: 2116px;
  left: 590px;
}

#C3S{
  top: 1004px;
  left: 883px;
}

#E4ne{
  top: 1524px;
  left: 1356px;
}

#A1sw{
  top: 307px;
  left: 19px;
}

#F6sw{
  top: 2163px;
  left: 1909px;
}

#C5sw{
  top: 1057px;
  left: 1506px;
}

#G7W{
  top: 2377px;
  left: 2246px;
}

#H3N{
  top: 2735px;
  left: 903px;
}

#G6nw{
  top: 2285px;
  left: 1903px;
}

#E8sw{
  top: 1529px;
  left: 2610px;
}

#D1S{
  top: 1361px;
  left: 150px;
}

#E7S{
  top: 1733px;
  left: 2405px;
}

#H6W{
  top: 2699px;
  left: 1902px;
}

#H1N{
  top: 2626px;
  left: 149px;
}

#F3N{
  top: 1944px;
  left: 893px;
}

#E3N{
  top: 1474px;
  left: 891px;
}

#E5N{
  top: 1519px;
  left: 1634px;
}

#C8sw{
  top: 1053px;
  left: 2628px;
}

#A7sw{
  top: 239px;
  left: 2319px;
}

#H4W{
  top: 2726px;
  left: 1144px;
}

#B2N{
  top: 464px;
  left: 596px;
}

#D3se{
  top: 1344px;
  left: 971px;
}

#C4S{
  top: 1043px;
  left: 1318px;
}

#E6ne{
  top: 1579px;
  left: 2116px;
}

#B3nw{
  top: 462px;
  left: 768px;
}

#A2E{
  top: 161px;
  left: 576px;
}

#C6se{
  top: 1033px;
  left: 2128px;
}

#D4sw{
  top: 1460px;
  left: 1190px;
}

#B6W{
  top: 564px;
  left: 1901px;
}

#A5E{
  top: 168px;
  left: 1766px;
}

#B8sw{
  top: 653px;
  left: 2634px;
}

#A8sw{
  top: 254px;
  left: 2628px;
}

/* #F4se{
  top: 2130px;
  left: 1457px;
} */

#F3E{
  top: 1997px;
  left: 976px;
}

#F1W{
  top: 2010px;
  left: 124px;
}

#B1se{
  top: 718px;
  left: 322px;
}

#C3ne{
  top: 810px;
  left: 1043px;
}

#A2se{
  top: 314px;
  left: 599px;
}

#C5ne{
  top: 784px;
  left: 1763px;
}

#F4nw{
  top: 1886px;
  left: 1156px;
}

#B1ne{
  top: 411px;
  left: 257px;
}

#F8sw{
  top: 2158px;
  left: 2657px;
}

#B7se{
  top: 636px;
  left: 2463px;
}

#E5E{
  top: 1590px;
  left: 1732px;
}

#A2nw{
  top: 57px;
  left: 442px;
}

#D6N{
  top: 1162px;
  left: 2047px;
}

#B2nw{
  top: 409px;
  left: 398px;
}

#G6S{
  top: 2500px;
  left: 1940px;
}

#H2nw{
  top: 2621px;
  left: 412px;
}

#C5se{
  top: 969px;
  left: 1713px;
}

#E2E{
  top: 1682px;
  left: 668px;
}

#A8S{
  top: 263px;
  left: 2684px;
}

#F5E{
  top: 1941px;
  left: 1761px;
}

#B3sw{
  top: 588px;
  left: 802px;
}

#G5ne{
  top: 2247px;
  left: 1714px;
}

#D5ne{
  top: 1143px;
  left: 1758px;
}

#H3nw{
  top: 2614px;
  left: 772px;
}

#F4E{
  top: 1954px;
  left: 1325px;
}

#C2nw{
  top: 797px;
  left: 441px;
}

#B5ne{
  top: 404px;
  left: 1705px;
}

#H4N{
  top: 2634px;
  left: 1276px;
}

#A3N{
  top: 36px;
  left: 904px;
}

#E1S{
  top: 1725px;
  left: 175px;
}

#F3S{
  top: 2050px;
  left: 932px;
}

#G8S{
  top: 2428px;
  left: 2709px;
}

#D2se{
  top: 1352px;
  left: 560px;
}

#H5E{
  top: 2658px;
  left: 1460px;
}

#G6ne{
  top: 2185px;
  left: 2009px;
}

#A2ne{
  top: 15px;
  left: 658px;
}

#B5se{
  top: 542px;
  left: 1639px;
}

.draggable {
  width: 90px;
  height: 90px;
  padding: 0.5em;
  float: left;
  margin: 0 10px 10px 0;
  background: none; /* older browsers */
  background: none; /* newer browsers */
  padding: 5px;
  cursor: move;
  visibility: visible;
  --dropshadow: 5px 5px 5px gray;
  --border-radius: 10px;
  --border: 2px rgb(230, 230, 230);
  /* --transistiontime: all 0s ease 5s; */
  position: absolute;
  }

  /* #draggable146{
    padding: 50px;
    border-radius: var(--border-radius);
    border-style: dashed red;
    z-index: 300;
  } */

button{
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100px;
  height: 100px;
  font-size: 12pt;
  color: rgb(163, 94, 56);
  outline: none !important;
  border: 2px rgb(230, 230, 230);
  box-shadow: 5px 5px 5px gray;
  border-radius: 5px;
  font-family: Snell Roundhand;
  cursor: pointer;
  z-index: 100;
  }


  .lilleBox{
    position: absolute;
    width: 50px;
    height: 50px;
    transition: var(--transistiontime);
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    z -index: 3;
    }

    #success{
      position: absolute;
      top:-30px;
      left: -20px;
      width:1500px;
      height:1000px;
      z-index: 3000;
      }

      #success:hover{
        position: absolute;
        opacity: 0;
        transition: 3s;
        top:-30px;
        left: -20px;
        width:1500px;
        height:1000px;
        z-index: 3000;
        }

  #googleLille:hover{
    width:350px;
    height:50px;
    transition-delay: 0s;
    transition-property: height;
    }

  #googleMellem:hover{
    width:670px;
    height:67px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

  #googleStor:hover{
    width:910px;
    height:90px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

  #citatlille:hover{
    width: 400px;
    height: 30px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

  .mellemBox{
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0%;
    object-fit: fill;
    transition: var(--transistiontime);
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    z-index:1;
    }

  #job:hover{
    width:400px;
    height:450px;
    z-index: 1;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

#kasket:hover{
  width:450px;
  height:400px;
  opacity: 100%;
  z-index: 1;
  transition-delay: 0s;
  transition-property: height;
  transition-duration: var(--transistiontime);
  }

  #survey:hover{
    width:500px;
    height:350px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }


  #citatMellem:hover{
    width: 400px;
    height: 200px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

  #citatStor:hover{
    width: 500px;
    height: 100px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

  #exploy:hover{
    width: 450px;
    height: 150px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

  #exploystor:hover{
    width: 500px;
    height: 400px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

.myVideo{
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: fill;
    transition: var(--transistiontime);
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    z-index:1;
    }

.myVideo:hover{
    width:270px;
    height:480px;
    transition-delay: 0s;
    transition-property: height;
    z-index: 1;
    }

.advice{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(230, 230, 230);
    font-family: palatino;
    font-size: 10pt;
    color: rgb(163, 94, 56);
    text-align: justify;
    line-height: 12pt;
    padding: 15px;
    transition: var(--transistiontime);
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    cursor: move;
    overflow: hidden;
    resize: none;
    z-index: 1;
    }

.adviceMellem{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(230, 230, 230);
    font-family: palatino;
    font-size: 10pt;
    color: rgb(163, 94, 56);
    text-align: left;
    line-height: 12pt;
    padding: 15px;
    transition: var(--transistiontime);
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    cursor: move;
    overflow: hidden;
    resize: none;
    z-index: 1;
    }

#advice1:hover{
    width:300px;
    height:135px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice2:hover{
    width:300px;
    height:315px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice3:hover{
    width:250px;
    height:80px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice4:hover{
    width:260px;
    height:45px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow: hidden;
    }

#advice5:hover{
    width:375px;
    height:50px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

#advice6:hover{
    width:265px;
    height:45px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

#advice7:hover{
    width:300px;
    height:165px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice8:hover{
    width: 420px;
    height: 92px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

#advice9:hover{
    width: 420px;
    height: 190px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

#advice10:hover{
    width: 340px;
    height: 265px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

#advice11:hover{
    width: 360px;
    height: 280px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

#advice12:hover{
    width: 260px;
    height: 585px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

#advice13:hover{
    width: 350px;
    height: 615px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

#advice14:hover{
    width: 230px;
    height: 278px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

#advice15:hover{
    width: 270px;
    height: 65px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice16:hover{
    width: 270px;
    height: 110px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice17:hover{
    width: 340px;
    height: 190px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice18:hover{
    width: 280px;
    height: 75px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice19:hover{
    width: 310px;
    height: 150px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice20:hover{
    width: 240px;
    height: 60px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice21:hover{
    width: 310px;
    height: 60px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice22:hover{
    width: 345px;
    height: 180px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice23:hover{
    width: 320px;
    height: 130px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice24:hover{
    width: 330px;
    height: 80px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice25:hover{
    width: 190px;
    height: 60px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice26:hover{
    width: 300px;
    height: 80px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice27:hover{
    width: 325px;
    height: 140px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice28:hover{
    width: 320px;
    height: 175px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice29:hover{
    width: 260px;
    height: 110px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice30:hover{
    width: 300px;
    height: 75px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice32:hover{
    width: 280px;
    height: 380px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice33:hover{
    width: 280px;
    height: 315px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice34:hover{
    width: 280px;
    height: 170px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice35:hover{
    width: 280px;
    height: 300px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice36:hover{
    width: 280px;
    height: 635px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice37:hover{
    width: 280px;
    height: 915px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice38:hover{
    width: 280px;
    height: 430px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice39:hover{
    width: 280px;
    height: 400px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice40:hover{
    width: 280px;
    height: 380px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice41:hover{
    width: 280px;
    height: 125px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice42:hover{
    width: 280px;
    height: 80px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice43:hover{
    width: 300px;
    height: 300px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice44:hover{
    width: 280px;
    height: 320px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice45:hover{
    width: 280px;
    height: 320px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice46:hover{
    width: 280px;
    height: 300px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice47:hover{
    width: 280px;
    height: 245px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice48:hover{
    width: 280px;
    height: 335px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice49:hover{
    width: 280px;
    height: 300px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

#advice50:hover{
    width: 280px;
    height: 300px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    overflow-y: hidden;
    }

.samtale{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(230, 230, 230);
    font-family: palatino;
    font-size: 10pt;
    color: rgb(163, 94, 56);
    text-align: justify;
    line-height: 12pt;
    padding: 20px;
    transition: var(--transistiontime);
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    cursor: move;
    overflow: auto;
    resize: none;
    z-index: 0;
    }

.samtale:hover{
    width:400px;
    height:700px;
    transition-property: height;
    transition-duration: 2s;
    transition-delay: 0s;
    border-radius: var(--border-radius);
    border: var(--border);
    }

#part3:hover{
    width:400px;
    height:245px;
    transition-property: height;
    transition-duration: 2s;
    transition-delay: 0s;
    border-radius: var(--border-radius);
    border: var(--border);
    }

  #part2:hover{
      width:400px;
      height:295px;
      transition-property: height;
      transition-duration: 2s;
      transition-delay: 0s;
      border-radius: var(--border-radius);
      border: var(--border);
      }

  #part1:hover{
      width:400px;
      height:325px;
      transition-property: height;
      transition-duration: 2s;
      transition-delay: 0s;
      border-radius: var(--border-radius);
      border: var(--border);
      }

  #part4:hover{
      width:400px;
      height:540px;
      transition-property: height;
      transition-duration: 2s;
      transition-delay: 0s;
      border-radius: var(--border-radius);
      border: var(--border);
      }

  #part5:hover{
      width:400px;
      height:265px;
      transition-property: height;
      transition-duration: 2s;
      transition-delay: 0s;
      border-radius: var(--border-radius);
      border: var(--border);
      }

span{
    font-weight: bold;
    font-size: 12pt;
    font-family: Snell Roundhand;
    }

strong{
    font-size: 12pt;
    font-family: Snell Roundhand;
    font-weight: bold;
    }


    /* #DESIGNER{
        position: absolute;
        top: 100px;
        left: 100px;
        width: 500px;
        height: 300px;
        z-index: 1000;
        }

    #OPPORTUNITIES{
        position: absolute;
        top: 100px;
        left: 1300px;
        width: 600px;
        height: 200px;
        z-index: 1000;
        } */

  }

body,
html{
    margin: 0;
    padding: 0;
    }

body
{
    background-color: rgb(230, 230, 230);
    border: 20px solid rgb(163, 94, 56);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    width: 3000px;
    height: 3000px;
    overflow: auto;
    margin-right: none;
    padding: none;
    overflow: hidden;
    cursor: move;
  }

.footer{
  position:fixed;
  bottom:25px;
  left:20px;
  width:2960px;
  height:150px;
  background-color: rgba(255,0,0,0);
  z-index: 50;
}
.sidebar{
  position:fixed;
  top:20px;
  right:10px;
  height:2960px;
  width:150px;
  background-color: rgba(255,0,0,0);
  z-index: 50;
}

.rowitem{
  height: 370px;

}

.bogstaver{
  display: block;
  margin:auto;
  width: 150px;
  height: 150px;
  z-index: 100;
}

.tal{
  display: block;
  margin:auto;
  width: 150px;
  height: 150px;
  z-index: 100;
}

.vl{
    width:2px;
    border-left:2px dotted rgb(163, 94, 56);
    /* background-color: rgb(163, 94, 56); */
    height: 2960px;
    position: absolute;
    top: 20px;
    margin-left: 20px;
}
.hl{
    height:2px;
    border-top:2px dotted rgb(163, 94, 56);
    /* background-color: rgb(163, 94, 56); */
    width: 2960px;
    position: absolute;
    margin-top: 20px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

::-webkit-input-placeholder {
  color: rgb(163, 94, 56);
}

#myInput {
  position: fixed;
  top: 40px;
  right: 155px;
  width: 25%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  font-family: Snell Roundhand;
  font-weight: bold;
  text-align: center;
  color: rgb(163, 94, 56);
  background-color: white;
  outline: none;
  padding: 12px 12px 12px 12px; /* Add some padding */
  /* border: 3px solid rgb(163, 94, 56); /* Add a grey border */
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  margin-bottom: 12px; /* Add some space below the input */
  z-index: 1000;
}
#goToPosBtn{
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;"
}
