/* #grid-container{
  display:grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20,150px);
  width: 100%;
  height: 100%;
  margin: 0px;
} */

#draggable1{
  top: 47px;
  left: 571px;
}

#draggable2{
  top: 1042px;
  left: 1693px;
}

#draggable3{
  top: 2427px;
  left: 2441px;
}

#draggable4{
  top: 2308px;
  left: 278px;
}

#draggable5{
  top: 511px;
  left: 2561px;
}

#draggable6{
  top: 550px;
  left: 1360px;
}

#draggable7{
  top: 1700px;
  left: 675px;
}

#draggable8{
  top: 1134px;
  left: 2597px;
}

#draggable9{
  top: 2295px;
  left: 1760px;
}

#draggable10{
  top: 196px;
  left: 2405px;
}

#draggable11{
  top: 1500px;
  left: 150px;
}

#draggable12{
  top: 60px;
  left: 1400px;
}

#draggable13{
  top: 2266px;
  left: 1168px;
}

#draggable14{
  top: 32px;
  left: 2082px;
}

#draggable15{
  top: 932px;
  left: 39px;
}

#draggable16{
  top: 2178px;
  left: 121px;
}

#draggable17{
  top: 1455px;
  left: 2306px;
}

#draggable18{
  top: 638px;
  left: 902px;
}

/* #draggable19{
  grid-column: 20;
  grid-row: 5;
} */

#draggable20{
  top: 1277px;
  left: 2433px;
}

#draggable21{
  top: 1784px;
  left: 435px;
}

#draggable22{
  top: 452px;
  left: 707px;
}

#draggable23{
  top: 2600px;
  left: 2134px;
}

#draggable24{
  top: 2556px;
  left: 1003px;
}

#draggable25{
  top: 889px;
  left: 2437px;
}

#draggable26{
  top: 1820px;
  left: 1363px;
}

#draggable27{
  top: 1228px;
  left: 324px;
}

#draggable28{
  top: 1889px;
  left: 2370px;
}

#draggable29{
  top: 1591px;
  left: 1165px;
}

#draggable30{
  top: 2565px;
  left: 322px;
}

#draggable31{
  top: 754px;
  left: 2079px;
}

#draggable32{
  top: 1110px;
  left: 1012px;
}

#draggable33{
  top: 2571px;
  left: 2008px;
}

#draggable34{
  top: 1037px;
  left: 181px;
}

#draggable35{
  top: 304px;
  left: 1763px;
}

#draggable36{
  top: 189px;
  left: 933px;
}

#draggable37{
  top: 2312px;
  left: 736px;
}

/* #draggable38{
  grid-column: 18;
  grid-row: 15;
}

#draggable39{
  grid-column: 15;
  grid-row: 19;
} */

#draggable40{
  top: 1612px;
  left: 2553px;
}

#draggable41{
  top: 1960px;
  left: 1969px;
}

#draggable42{
  top: 1458px;
  left: 802px;
}

#draggable43{
  top: 25px;
  left: 892px;
}

#draggable44{
  top: 1404px;
  left: 326px;
}

#draggable45{
  top: 1873px;
  left: 597px;
}

#draggable46{
  top: 1184px;
  left: 1382px;
}

#draggable47{
  top: 682px;
  left: 1888px;
}

#draggable48{
  top: 411px;
  left: 1382px;
}

#draggable49{
  top: 2717px;
  left: 138px;
}

#draggable50{
  top: 868px;
  left: 749px;
}

#draggable51{
  top: 1422px;
  left: 1511px;
}

#draggable52{
  top: 148px;
  left: 182px;
}

#draggable53{
  top: 76px;
  left: 2007px;
}

#draggable54{
  top: 882px;
  left: 593px;
}

#draggable55{
  top: 2741px;
  left: 1394px;
}

#draggable56{
  top: 1908px;
  left: 104px;
}

#draggable57{
  top: 945px;
  left: 2225px;
}

#draggable58{
  top: 2494px;
  left: 2203px;
}

#draggable59{
  top: 1258px;
  left: 1968px;
}

#draggable60{
  top: 1174px;
  left: 146px;
}

#draggable61{
  top: 1658px;
  left: 1628px;
}

/* #draggable62{
  top: 1658px;
  left: 1628px;
}

#draggable63{
  top: 1658px;
  left: 1628px;
}

#draggable64{
  top: 1658px;
  left: 1628px;
} */

#draggable65{
  top: 479px;
  left: 32px;
}

#draggable66{
  top: 2150px;
  left: 2485px;
}

#draggable67{
  top: 310px;
  left: 2595px;
}

#draggable68{
  top: 244px;
  left: 764px;
}

#draggable69{
  top: 2771px;
  left: 1647px;
}

#draggable70{
  top: 1781px;
  left: 757px;
}

#draggable71{
  top: 2686px;
  left: 222px;
}

#draggable72{
  top: 822px;
  left: 1481px;
}

#draggable73{
  top: 1900px;
  left: 1473px;
}

#draggable74{
  top: 432px;
  left: 1796px;
}

#draggable75{
  top: 2605px;
  left: 717px;
}

#draggable76{
  top: 31px;
  left: 135px;
}

#draggable77{
  top: 1734px;
  left: 871px;
}

#draggable78{
  top: 1134px;
  left: 884px;
}

#draggable79{
  top: 718px;
  left: 1506px;
}

#draggable80{
  top: 853px;
  left:2373px;
}

#draggable81{
  top: 603px;
  left: 144px;
}

#draggable82{
  top: 2015px;
  left: 309px;
}

#draggable83{
  top: 1905px;
  left: 2000px;
}

  .draggable {
      width: 90px;
      height: 90px;
      padding: 0.5em;
      float: left;
      margin: 0 10px 10px 0;
      background: none; /* older browsers */
      background: none; /* newer browsers */
      padding: 5px;
      cursor: move;
      visibility: visible;
      --dropshadow: 5px 5px 5px gray;
      --border-radius: 10px;
      --border: double 2px rgb(230, 230, 230);
      transistiontime: 0.5s;
      position: absolute;
      }


.button1{
    position: absolute;
    outline: none !important;
    font-family: Snell Roundhand;
    z-index: 100;
    cursor: move;
    }

.myVideo{
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: fill;
    transition: all 0s ease 60s;
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    z-index:1;
    }

.myVideo:hover{
    width:270px;
    height:480px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    z-index: 1;
    }

.job{
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: fill;
    transition: all 0s ease 60s;
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    z-index:1;
    }

.job:hover{
    width:400px;
    height:500px;
    z-index: 1;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

.googleLille{
    position: absolute;
    width: 50px;
    height: 50px;
    transition: all 0s ease 60s;
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    z-index: 3;
    }

.googleLille:hover{
    width:322px;
    height:40px;
    transition-delay: 0s;
    transition-property: height;
    }

.googleMellem{
    position: absolute;
    width: 50px;
    height: 50px;
    transition: all 0s ease 60s;
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    z-index: 3;
    }

.googleMellem:hover{
    width:670px;
    height:67px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

.googleStor{
    position: absolute;
    width: 50px;
    height: 50px;
    transition: all 0s ease 60s;
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    z-index: 3;
    }

.googleStor:hover{
    width:910px;
    height:90px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    }

.samtale{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(230, 230, 230);
    font-family: palatino;
    font-size: 10pt;
    color: rgb(163, 94, 56);
    text-align: justify;
    line-height: 12pt;
    padding: 20px;
    transition: all 0s ease 60s;
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    cursor: move;
    overflow-y: scroll;
    resize: none;
    z-index: 1;
    }

.samtale:hover{
    width:400px;
    height:700px;
    transition-property: height;
    transition-duration: 2s;
    transition-delay: 0s;
    border-radius: var(--border-radius);
    border: var(--border);
    }

span{
    font-weight: bold;
    font-size: 12pt;
    font-family: Snell Roundhand;
    }

strong{
    font-size: 12pt;
    font-family: Snell Roundhand;
    font-weight: bold;
    }

.advice{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(230, 230, 230);
    font-family: palatino;
    font-size: 10pt;
    color: rgb(163, 94, 56);
    text-align: justify;
    line-height: 12pt;
    padding: 20px;
    transition: all 0s ease 60s;
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    cursor: move;
    overflow-y: scroll;
    resize: none;
    z-index: 1;
    }

#advice1:hover{
    width:300px;
    height:150px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#advice2:hover{
    width:300px;
    height:330px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#advice3:hover{
    width:250px;
    height:95px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#advice4:hover{
    width:260px;
    height:45px;
    line-height: 10pt;
    padding: 15px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    overflow: none;
    }

#advice5:hover{
    width:375px;
    height:50px;
    padding: 15px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#advice6:hover{
    width:265px;
    height:45px;
    line-height: 9pt;
    padding: 15px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#advice7:hover{
    width:300px;
    height:170px;
    line-height: 11.5pt;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#advice8:hover{
    width: 420px;
    height: 92px;
    line-height: 11pt;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#advice9:hover{
    width: 420px;
    height: 190px;
    line-height: 12pt;
    padding: 15px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#advice10:hover{
    width: 340px;
    height: 265px;
    line-height: 12pt;
    padding: 15px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#advice11:hover{
    width: 360px;
    height: 280px;
    line-height: 12pt;
    padding: 15px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#advice12:hover{
    width: 260px;
    height: 585px;
    line-height: 12pt;
    padding: 15px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#advice13:hover{
    width: 350px;
    height: 615px;
    line-height: 12pt;
    padding: 15px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#advice14:hover{
    width: 230px;
    height: 278px;
    line-height: 12pt;
    padding: 15px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#mapping{
    position: absolute;
    width: 100px;
    height: 100px;
    transition: all 0s ease 60s;
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    z-index: 2;
    }

#mapping:hover{
  width: 550px;
  height: 650px;
  transition-delay: 0s;
  transition-property: height;
  transition-duration: var(--transistiontime);
  border-radius: var(--border-radius);
  border: var(--border);
  }

.surveyElev{
    position: absolute;
    width: 100px;
    height: 100px;
    transition: all 0s ease 60s;
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    z-index: 2;
    }

.surveyElev:hover{
    width:500px;
    height:350px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }


.faktaBox{
  position: absolute;
  width: 100px;
  height: 100px;
  transition: all 0s ease 60s;
  box-shadow: var(--dropshadow);
  border-radius: var(--border-radius);
  border: var(--border);
  z-index: 2;
  }

.faktaBox:hover{
  width: 443px;
  height: 175px;
  transition-delay: 0s;
  transition-property: height;
  transition-duration: var(--transistiontime);
  border-radius: var(--border-radius);
  border: var(--border);
  }

.citat{
    position: absolute;
    width: 100px;
    height: 100px;
    transition: all 0s ease 60s;
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    z-index: 2;
    }

#citat2-5:hover{
    width: 600px;
    height: 70px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#citat1:hover{
  width: 400px;
  height: 200px;
  transition-delay: 0s;
  transition-property: height;
  transition-duration: var(--transistiontime);
  border-radius: var(--border-radius);
  border: var(--border);
  }

  #citatlille{
    position: absolute;
    width: 50px;
    height: 50px;
    transition: all 0s ease 60s;
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    z-index: 2;
    }

  #citatlille:hover{
    width: 400px;
    height: 30px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#surveyLærer{
    position: absolute;
    width: 100px;
    height: 100px;
    transition: all 0s ease 60s;
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    z-index: 2;
    }

#surveyLærer:hover{
    width:500px;
    height:350px;
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    border-radius: var(--border-radius);
    border: var(--border);
    }

#spørgsmål{
    position: absolute;
    width: 100px;
    height: 100px;
    transition: all 0s ease 60s;
    font-family: cursive;
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    cursor: move;
    overflow-y: scroll;
    resize: none; /* Remove this if you want the user to resize the textarea */
    z-index: 9;
    }

.cap{
    position: absolute;
    width: 100px;
    height: 100px;
    transition: all 0s ease 60s;
    box-shadow: var(--dropshadow);
    border-radius: var(--border-radius);
    border: var(--border);
    z-index: 10;
    }

.cap:hover{
    transition-delay: 0s;
    transition-property: height;
    transition-duration: var(--transistiontime);
    width:400px;
    height:335px;
    }


#DESIGNER{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
    height: 300px;
    z-index: 1000;
    }

#OPPORTUNITIES{
    position: absolute;
    top: 100px;
    left: 1300px;
    width: 600px;
    height: 200px;
    z-index: 1000;
    }

  }

body,
html{
    margin: 0;
    padding: 0;
    }

body
{
    border: 20px solid rgb(230, 230, 230);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3000px;
    height: 3000px;
    overflow-x: auto;
    overflow-y: auto;
    margin-right: none;
    padding: none;
  }

.footer{
  position:fixed;
  bottom:0px;
  left:20px;
  width:2960px;
  height:20px;
  background-color: rgba(255,0,0,0);
  z-index: 50;
}
.sidebar{
  position:fixed;
  top:20px;
  right:0px;
  height:2960px;
  width:20px;
  background-color: rgba(255,0,0,0);
  z-index: 50;
}

.rowitem{
  height:370px;
   line-height: 370px;
}

.vl{
    width:3px;
    background-color: rgba(255, 0, 0, 0.2);
    height: 2960px;
    position: absolute;
    top: 20px;
    margin-left: 20px;
}
.hl{
    height:3px;
    background-color: rgba(255, 0, 0, 0.2);
    width: 2960px;
    position: absolute;
    margin-top: 20px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
